@import 'variables.less';

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto Italic';
  src: url(/fonts/Roboto-LightItalic.ttf);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, html, body {
    font-family: "Roboto";
    font-weight: 400;
}

* {
    &:focus {outline:0;}
}


html,
body {
    height: 100%;
    background: url('/images/background.jpg');
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -195px;
    padding: 0 0 195px;
}

.container {
    @media(max-width: 992px) {
        width: 100%;
    }
    &.md {
        max-width: 980px;
    }
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 195px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    background-color: @blue-1;
    color: @white;
    overflow: hidden;

    @media(max-width: 768px) {
        height: auto;
        text-align: center;
        img {
            padding-bottom: 15px;
        }
    }

    .contacts {
        text-align: right;
        @media(max-width: 768px) {
            text-align: center;
            padding-top: 15px;
        }
        a {
            color: @white;
            border-bottom: 1px solid @yellow-2;
        }
        .phone {
            font-size: 24px;
            font-weight: 200;
            border-bottom: 0;
            @media(max-width: 480px) {
                font-size: 14px;
            }
        }
        span {
            display: block;
            &.name {
                display: inline;
                font-size: 20px;
                @media(max-width: 480px) {
                    font-size: 14px;
                }
            }
        }
    }

    .license {
        color: #c9c9c9;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: 200;
        background: #1b1b1b;
        margin-top: 20px;
        a {
            color: #c9c9c9;
        }
        @media(max-width: 768px) {
            height: auto;
        }
    }

    .footer-menu {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        li {
            list-style: none;
            a {
                color: @white;
            }
        }
        @media(max-width: 768px) {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            text-align: left;
            padding: 0;
        }
    }

}

.block {
    width: 100%;
    &.content {
        padding: 70px 0;
        @media(max-width: 480px) {
            padding: 30px 0;
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 200;
        margin: 0 0 20px 0;
        @media(max-width: 480px) {
            font-size: 16px;
        }
    }

    p {
        font-size: 16px;
        font-weight: 200;
        @media(max-width: 480px) {
            font-size: 14px;
        }
    }

}

.header {
    padding-top: 20px;
    border-bottom: 2px solid #000;

    @media(max-width: 768px) {
        background: @blue-1;
        padding-top: 0;
        position: fixed;
        top: 0;
        z-index: 12;
    }

    .header-content {
        height: 80px;
        overflow: hidden;
        @media(max-width: 768px) {
            display: none;
        }
    }

    .logo-container {
        height: 100px;
        .logo-image, .logo-text {
            display: inline-block;
            vertical-align: top;
        }
        .logo-image {
            padding-right: 20px;
        }
        .logo-image img {
            width: 60px;
            height: auto;
        }
        .lt-1 {
            font-size: 24px;
            font-weight: bold;
            color: @blue-1;
            @media(max-width: 1200px) {
                font-size: 18px;
            }
        }
        .lt-2 {
            font-size: 18px;
            font-weight: bold;
            color: @grey;
            @media(max-width: 1200px) {
                font-size: 16px;
            }
        }
    }
    .phones {
        .phone-image, .phone-text {
            display: inline-block;
            vertical-align: top;
        }

        .phone-image {
            padding-right: 10px;
            padding-top: 6px;
        }

        .phone-text {
            p {
                font-size: 16px;
                font-weight: bold;
                line-height: 24px;
                padding: 0;
                margin: 0;
                font-size: 18px;
                a {
                    font-size: 18px;
                    color: @grey;
                }
                &.small {
                    font-size: 14px;
                    font-weight: normal;
                    text-align: center;
                    a {
                        text-decoration: none;
                        color: @blue-1;
                        border-bottom: 1px dashed @blue-1;
                    }
                }
            }
            @media(max-width: 1200px) {
                 * {
                     font-size: 16px !important;
                 }
            }
        }
    }

    .address {

        @media(max-width: 980px) {
            display: none;
        }

        @media(max-width: 1200px) {
             * {
                 font-size: 16px !important;
             }
        }
        padding-left: 60px;
        .address-image, .address-text {
            display: inline-block;
            vertical-align: top;
        }

        .address-image {
            padding-right: 10px;
            padding-top: 6px;
        }

        .address-text {
            p {
                font-weight: normal;
                font-size: 18px;
                line-height: normal;
                margin: 0;
                padding: 0;
                &.bold {
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }

    }

    .menu-row {
        height: 40px;
        background: @blue-1;
        a {
            color: @white;
            text-transform: uppercase;
            line-height: 40px;
            display: inline-block;
            padding: 0 31px;
            border-right: 1px solid @white;
            &:first-child {
                border-left: 1px solid @white;
            }
            &:hover {
                background-color: @blue-2;
                text-decoration: none;
            }
            @media(max-width: 1200px) {
                font-size: 12px;
            }
            @media(max-width: 980px) {
                padding: 0 10px;
            }
        }
        @media(max-width: 768px) {
            display: none;
        }
    }

}

.container > .mobile-menu {
    display: none;
    @media(max-width: 768px) {
        display: block;
    }
}

.mobile-menu {
    img {
        max-height: 46px;
        margin-top: 7px;
    }
    .modal-header {
    }
    .menu-icon {
        button {
            font-size: 24px;
            padding: 5px;
            color: @white;
            line-height: 50px;
            background: none;
        }
    }
    ul {
        padding: 0;
        li {
            list-style: none;
            margin-bottom: 10px;
            a {
                color: @grey;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
    .contacts {
        text-align: center;
        i {
            padding-right: 15px;
        }
    }
}

button {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    &:focus {outline:0;}
    &.shadow {
        .drop-shadow(1px, 5px);
    }

    &.yellow {
        background: @blue-1;
        color: @white;
        .transition(all 0.8s);
        &:hover {
            background: @blue-2;
        }
        &:active {
            margin-top: 5px;
        }
        &.lg {
            font-size: 28px;
        }
    }
}

#alert {
    p {
        font-size: 16px;
    }
}

.mobile-centered {
    padding-top: 11px;
    padding-left: 15px;
    color: #fff;
    div:nth-child(1) {
        font-weight: bold;
    }
    @media (max-width: 420px) {
        font-size: 12px;
        padding-top: 14px;
    }
}
