@import 'variables.less';


@font-face {
    font-family: 'Pacifico Regular';
    src: url(/fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: 'AmadeusAP';
    src: url('/fonts/AmadeusAP.ttf');
}

.index {

    .banner {
        max-width: 100%;
        overflow-x: hidden;
        position: relative;
        #dots {
            position: absolute;
            z-index: 10;
            bottom: 0px;
            left: 0;
            width: 100%;
            @media(max-width: 768px) {
                bottom: 60px;
            }
            .container {
                position: relative;
                .slick-dots {
                    text-align: left;
                    padding-left: 10px;
                    @media(max-width: 768px) {
                        text-align: center;
                        padding-left: 0;
                    }
                }
            }
            .dots-cont {
                width: 100%;
            }
        }
    }

    .slick-dots {
        left: 0;
        bottom: 0;
    }

    .slick-dots li button::before {
        font-size: 18px;
        color: @blue-2;
    }

    .slick-dots li.slick-active button:before {
        color: @blue-1;
    }

    .index-slider {
        h1, .heading {
            font-size: 46px;
            line-height: 72px;
            color: @blue-2;
            font-weight: bold;

            @media (max-width: 1024px) {
                font-size: 38px;
                line-height: 42px;
            }

            @media (max-width: 980px) {
                font-size: 28px;
                line-height: 42px;
            }
            @media (max-width: 768px) {
                text-align: center;
                color: #fff;
            }
            @media (max-width: 480px) {
                font-size: 18px;
            }
        }
        h2 {
            font-size: 28px;
            font-weight: normal;
        }
        .slide-1, .slide-2, .slide-3 {
            height: 600px;
                -webkit-box-shadow: inset 0px 10px 5px 0px rgba(0,0,0,0.4);
                -moz-box-shadow: inset 0px 10px 5px 0px rgba(0,0,0,0.4);
                box-shadow: inset 0px 10px 5px 0px rgba(0,0,0,0.4);

            @media (max-width: 768px) {
                height: 400px;
            }
        }
        .slide-content {
            // max-width: 800px;
            // padding: 40px 60px;
            margin-top: 80px;
            background: rgba(255,255,255,.0);
            // -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
            // -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
            // box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
        }
        .related {
            position: relative;
            max-width: 55%;
            padding: 0 15px;
            @media(max-width: 980px) {
                max-width: 50%;
            }
            @media(max-width: 768px) {
                max-width: 100%;
            }
        }
        .related-image {
            position: absolute;
            top: 0;
            left: 100%;

            @media(max-width: 768px) {
                display: none;
            }
        }
        .slide-1 {
            // background-image: url('/images/slide1.jpg');
            background-size: cover;
            background-position: center;
            @media(max-width: 768px) {
                background: url('/images/slide1xs.jpg');
            }
        }
        .slide-2 {
            // background-image: url('/images/slide2a.jpg');
            background-size: cover;
            background-position: center;
            @media(max-width: 768px) {
                background: url('/images/slide2xs.jpg');
            }
        }
        .slide-3 {
            // background-image: url('/images/slide3a.jpg');
            background-size: cover;
            background-position: center;
            @media(max-width: 768px) {
                background: url('/images/slide3xs.jpg');
            }
        }
        button {

        }
        .catalog-btn button {
            display: block;
            margin: 40px 0 0 0;
            padding-left: 40px;
            padding-right: 40px;
            background-color: @green-1;
            color: #fff;
            font-size: 18px;
            -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
            &:hover {
                background: @green-2;
            }
            .border-radius(25px);

            @media(max-width: 768px) {
                margin: 0 auto;
            }
        }
    }

    .about {
        //font-family: 'Playfair Display', serif;

        h2 {
            font-size: 64px;
            font-family: 'AmadeusAP';
            margin-bottom: 40px;
            text-align: center;
            @media(max-width: 768px) {
                font-size: 48px;
            }
            @media(max-width: 480px) {
                font-size: 36px;
            }
        }
        p, ul {
            font-weight: normal;
            font-size: 22px;
            @media(max-width: 768px) {
                font-size: 18px;
            }
            @media(max-width: 480px) {
                font-size: 14px;
            }
        }
        ul {
            padding-left: 20px;
        }
        .container {
            background: rgba(255,255,255, .6);
        }

        li {
            list-style: none;
            position: relative;
            &:before {
                content: "";
                display: block;
                position:  absolute;
                top: 3px;
                left: -30px;
                width: 20px;
                height: 20px;
                background-image: url('/images/icon-checkmark.png');
                background-size: cover;
            }
        }

        button {
            display: block;
            margin: 40px auto 0 auto;
            background-color: @green-1;
            color: #fff;
            font-size: 18px;
            -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
            &:hover {
                background: @green-2;
            }
            padding-left: 40px;
            padding-right: 40px;
            .border-radius(25px);
        }

    }

    .phone {
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: @blue-2;
        a, i {
            color: @white;
            font-size: 18px;
        }
        i {
            padding-right: 20px;
        }
        @media(max-width: 768px) {
            a, i {
                font-size: 12px;
            }
        }
    }

    .benefits {
        margin-top: 60px;
        margin-bottom: 60px;
        @media(max-width: 768px) {
            margin-bottom: 0;
        }
        h2 {
            margin-bottom: 40px;
            padding-bottom: 10px;
            font-size: 36px;
            font-weight: normal;
            color: @grey;
            border-bottom: 1px solid #ccc;
            @media(max-width: 768px) {
                font-size: 36px;
                margin-bottom: 20px;
            }
            @media(max-width: 480px) {
                font-size: 18px;
            }
        }
        .ben {
            padding-left: 70px;
            background-position: top left;
            background-repeat: no-repeat;
            padding-bottom: 60px;
            @media(max-width: 768px) {
                padding-bottom: 30px;
            }
            .heading {
                font-weight: bold;
                font-size: 18px;
                @media(max-width: 768px) {
                    font-size: 14px;
                }
                @media(max-width: 480px) {
                    font-size: 12px;
                }
            }
            .text {
                font-weight: normal;
                font-size: 18px;
                @media(max-width: 768px) {
                    font-size: 14px;
                }
                @media(max-width: 480px) {
                    font-size: 12px;
                }
            }
            &.ben1 {background-image: url('/images/ben1.png');}
            &.ben2 {background-image: url('/images/ben2.png');}
            &.ben3 {background-image: url('/images/ben3.png');}
            &.ben4 {background-image: url('/images/ben4.png');}
            &.ben5 {background-image: url('/images/ben5.png');}
            &.ben6 {background-image: url('/images/ben6.png');}
            &.ben7 {background-image: url('/images/ben7.png');}
        }
    }

    .application {
        background: url('/images/bg2.png');
        background-position: bottom;
        background-repeat: no-repeat;
        hr {
            border-color: @grey;
        }
        h2 {
            margin-bottom: 40px;
            padding-bottom: 10px;
            font-size: 36px;
            font-weight: normal;
            color: @grey;
            border-bottom: 1px solid #ccc;
        }
        .todo-list {
            .item {
                padding-left: 70px;
                padding-top: 15px;
                font-size: 18px;
                font-weight: 400;
                background-position: top left;
                background-repeat: no-repeat;
                min-height: 100px;
                &.i1 {background-image: url('/images/one.png');}
                &.i2 {background-image: url('/images/two.png');}
                &.i3 {background-image: url('/images/three.png');}
                &.i4 {background-image: url('/images/four.png');}
                &.i5 {background-image: url('/images/five.png');}
            }
        }

        .application-form {
            background-color: @blue-1;
            color: @white;
            padding: 20px 15px;
            -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
            margin-bottom: 90px;
            h3 {
                margin-bottom: 30px;
            }
            .has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
                color: @white;
            }
            label {
                font-weight: 200;
            }
            input {
                border-radius: 0;
            }
            button {
                margin-top: 25px;
                margin-bottom: 25px;
                color: @grey;
                background-color: @white;
                display: block;
                width: 100%;
                -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
                -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
                box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
            }
            p {
                font-size: 14px;
                text-align: center;
            }
            a {
                color: @white;
                border-bottom: 1px solid @white;
            }
        }
    }

    .application2 {
        background: url('/images/bg2.png');
        background-position: bottom;
        background-repeat: no-repeat;
        min-height: 800px;
        padding-top: 30px;
        label {
            font-size: 16px;
        }
        hr {
            border-color: @grey;
        }
        h2 {
            margin-bottom: 40px;
            padding-bottom: 10px;
            font-size: 36px;
            font-weight: normal;
            color: @grey;
            border-bottom: 1px solid #ccc;
            @media(max-width: 768px) {
                font-size: 36px;
                margin-bottom: 20px;
            }
            @media(max-width: 480px) {
                font-size: 18px;
            }
        }
        .todo-list {
            .item {
                padding-left: 70px;
                padding-top: 15px;
                font-size: 18px;
                font-weight: 400;
                background-position: top left;
                background-repeat: no-repeat;
                min-height: 100px;
                &.i1 {background-image: url('/images/one.png');}
                &.i2 {background-image: url('/images/two.png');}
                &.i3 {background-image: url('/images/three.png');}
                &.i4 {background-image: url('/images/four.png');}
                &.i5 {background-image: url('/images/five.png');}
            }
        }

        .application-form {
            color: @grey;
            padding: 20px 15px;
            margin-bottom: 90px;
            label {
                font-weight: 200;
            }
            input {
                border-radius: 0;
            }
            button {
                margin-top: 25px;
                margin-bottom: 25px;
                color: @white;
                background-color: @green-1;
                display: block;
                width: 100%;
                -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
                -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
                box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.4);
            }
            p {
                font-size: 14px;
                text-align: center;
            }
            a {
                color: @white;
                border-bottom: 1px solid @white;
            }
        }
        .phones {
            @media(max-width: 768px) {
                padding-top: 40px;
            }
            .text-content {
                .t1 {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 21px;
                    max-width: 180px;
                    line-height: 21px;
                    color: @blue-2;
                    margin-right: 20px;
                    @media(max-width: 980px) {
                        padding-bottom: 10px;
                    }
                    @media(max-width: 480px) {
                        max-width: none;
                        display: block;
                        width: 100%;
                        font-size: 14px;
                    }
                }
                .t2 {
                    display: inline-block;
                    vertical-align: middle;
                    background-color: #25d365;
                    background-image: url('/images/whatsapp.png');
                    background-position: left center;
                    background-repeat: no-repeat;

                    @media(max-width: 480px) {
                        max-width: none;
                        display: block;
                        width: 100%;
                    }
                    a {
                        font-weight: 200;
                        color: #fff;
                        padding: 0 15px 0 50px;
                        display: block;
                        &:hover {
                            text-decoration: none;
                        }
                        span {
                            line-height: 42px;

                                font-size: 16px;
                        }
                    }
                }
            }
            .text-content2 {
                margin-top: 30px;
                .t1 {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 21px;
                    line-height: 21px;
                    color: @blue-2;
                    margin-right: 20px;
                    padding: 10px 15px;
                    border: 2px solid @blue-2;
                    .border-radius(5px);
                    @media(max-width: 480px) {
                        max-width: none;
                        display: block;
                        width: 100%;
                    }
                    a {
                        color: #blue-1;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

}

.default-page {
    margin-top: 90px;
    margin-bottom: 90px;
    @media(max-width: 768px) {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 40px;
        @media(max-width: 768px) {
            font-size: 24px;
            margin-bottom: 20px;
            margin-top: 60px;
        }
    }

    .text {
        font-size: 18px;
        @media(max-width: 768px) {
            font-size: 14px;
        }
        img {
            @media(max-width: 768px) {
                max-height: 200px !important;
                height: auto;
                width: auto !important;
            }
        }
    }

}
